@use './../../styles/abstracts' as var;

.price {
    padding-top: 40px;
    padding-bottom: 40px;
}

@include var.tablet-size {

    .price {
        position: relative;

        padding-top: 60px;
        padding-bottom: 100px;
    }

    .price__container {
        text-align: center;
    }
}
