@use './../../styles/abstracts' as var;

.price__container {
    padding-top: 40px;
    padding-bottom: 40px;
}

@include var.tablet-size {

    .price {
        position: relative;
    }

    .price__container {
        padding-top: 60px;
        padding-bottom: 100px;

        text-align: center;
    }

    .price__calc {
        width: auto;
        margin-top: 60px;
    }
}
