@use './../../styles/abstracts' as var;

.price__table {
    margin-top: 40px;
}

.price__tabs {
    max-width: var.$mobile-width;
    width: 100%;
    margin: 30px auto 40px;
    padding-left: 15px;
}

.tabs__list {
    @extend %list-reset;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
}

.tabs__button {
    height: 100%;
    padding: 10px 20px;

    font-size: 14px;

    &.active {
        color: var.$brand-white;

        background-color: var.$brand-danger;
    }
}

.priceTable {
    width: 100%;
    border-collapse: collapse;

    overflow: hidden;
    border-radius: 15px;
}

.priceTable__head {
    display: none;
}

.priceTable__tr {
    display: block;
    padding: 10px 15px;

    &:nth-child(odd) {
        background-color: var.$brand-grey;
    }

    &:last-of-type {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

.priceTable__td {
    display: block;
    margin-bottom: 15px;

    &:last-of-type {
        margin-bottom: 0;

        font-weight: 600;
    }
}

.price__calc {
    width: 100%;
    margin-top: 40px;
}

@include var.tablet-size {

    .price__tabs {
        width: auto;
        max-width: 100%;
        margin-bottom: 60px;
        margin-top: 60px;
        margin-left: calc(((100% - var.$tablet-width) / 2));
        padding-left: 30px;
    }

    .tabs__button {
        height: auto;
        padding: 17px 35px;
    
        font-size: 16px;
    }

    .tabs__list {
        position: relative;
       
        align-items: center;
        gap: 20px;

        &::after {
            content: '';

            width: 100%;
            height: 1px;

            background-color: var.$brand-grey-second;
        }
    }

    .tabs__item {
        flex-shrink: 0;
    }

    .priceTable__head {
        display: table-header-group;
    }

    .priceTable__tr {
        display: table-row;
    }

    .priceTable__th {
        padding: 30px 35px;

        font-size: 18px;
        color: var.$brand-white;

        background-color: var.$brand-danger;

        &:first-of-type {
            text-align: left;
        }
    }

    .priceTable__td {
        display: table-cell;
        padding: 12px 30px;

        &:first-of-type {
            text-align: left;
        }
    }

    .priceTab__list {
        gap: 20px;
    }

    .price__calc {
        width: auto;
        margin-top: 60px;
    }
}

@include var.desktop-size {

    .price__tabs {
        margin-left: calc(((100% - var.$desktop-width) / 2));
        padding-left: 40px;
    }
}

@include var.large-size {

    .price__tabs {
        margin-left: calc(((100% - var.$large-width) / 2));
    }
}