// Colors
$brand-white: #ffffff;
$brand-black: #212121;

$brand-danger: #d0002c;
$brand-primary: #a2d9f7;
$brand-grey: #e8e8e8;
$brand-grey-second: #d1d1d1;
$brand-brown: #616161;
$brand-brown-second: #969696;

// Typography
$font-family-base: 'Inter', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Layout
$mobile-width: 375px;
$tablet-width: 960px;
$desktop-width: 1280px;

//  Screen
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;