// Colors
$brand-white: #ffffff;
$brand-black: #212121;

$brand-danger: #d0002c;
$brand-light: #a2d9f7;
$brand-light-second: #f5faff;
$brand-light-third: #ecf1f4;
$brand-grey: #edf2f5;
$brand-grey-second: #cccccc;

$brand-tg: #0088cc;
$brand-wa: #25D366;

// Typography
$font-family-base: 'Inter', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Layout
$mobile-width: 375px;
$tablet-width: 960px;
$desktop-width: 1280px;
$large-width: 1440px;

//  Screen
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// z-index
$z-index-header: 4;