@use './../../styles/abstracts' as var;

.contacts {
    position: relative;

    background-color: var.$brand-grey;
}

.contacts__container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.contacts__col {

    &:first-child {
        margin-bottom: 40px;
    }
}

.contacts__description {
    margin-top: 30px;
}

.contactsDescription__item {
    margin-bottom: 20px;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.contactsDescription__desc {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
}


.contacts__map {
    width: 100%;
    height: 100%;
    height: 430px;

    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contacts__more {
    margin-top: 30px;
}

@include var.tablet-size {

    .contacts__container {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .contacts__heading p {
        margin-bottom: 40px;

        font-size: 16px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

@include var.desktop-size {

    .contacts__container {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        gap: 60px;
        padding-bottom: 100px;
    }


    .contacts__col {

        &:first-child {
            width: calc((100% - 60px) / 2);
            margin-bottom: 0;
        }

        &:last-child {
            width: calc((100% - 60px) / 2);
        }
    }

    .contacts__map {
        height: 600px;
    }
}