@use '@/styles/abstracts' as var;

@import '@/styles/vendor/normalize';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;

  font-size: 14px;
  line-height: 1.5;

  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.body__main {
  flex-grow: 2;
}

.body__footer {
  margin-top: -20px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

section {
  width: 100%;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  @extend %btn-reset;
}

@include var.desktop-size {

  .body__footer {
    margin-top: -60px;
  }
}