@use '../../styles/abstracts' as var;

.header {
  position: sticky;
  left: 0;
  top: 0;

  background-color: var.$brand-white;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);

  z-index: 3;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;
}

.header__nav {
  display: none;
}

@include var.tablet-size {

  .headerContainer {
    justify-content: flex-start;
  }

  .header__logo {
    margin-left: 27px;
  }

  .header__contacts {
    margin-left: auto;
  }
}

@include var.tablet-size {

  .headerContainer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@include var.desktop-size {

  .header__nav {
    display: block;
    margin-left: auto;
  }

  .header__logo {
    margin-left: 0;
  }
}